@{
    ViewData["Title"] = "Random Passcode Generator";
}

@* <div class="text-center">
    <h2>Random passcode (passcode #1)</h2>
    <input type="text">
    <input type="submit" value="Generate">
    <h1>You have visitied this sire @ViewBag.Count times</h1>
</div> *@



<div class="text-center">
    @if(ViewBag.Count == 1)
    {
        <h4>Random passcode (passcode #@ViewBag.Count)</h4>
    }
    else
    {
        <h4>Random passcode (passcode #@ViewBag.Count)</h4>
    }
    <p id="text_field" class="mx-auto">@ViewBag.NewString</p>
    <a href="/increment" class="btn btn-info">Generate</a>
    @* <a href="/reset" class="btn btn-info btn-outline-warning">Clear</a> *@
</div>

